How Does Python Works?

1.   The python is a interpreted language,that works on the concept of line by line excution.
2.   Python is a dynamic language,that means language has it's own brain.

#**Topics of Today/Agenda**



1.   Variables
2.   Datatypes
3.   Comments
4.   Indentation
5.   Block of Code
6.   Type Casting
7.   Strings
8.   Lists

**TOPIC 1:Variables**

Def:These are nothing just a container to store data,now these also has the reference to memory location.

In [ ]:
a = 10
a = 20
print(type(a))
print(a)

<class 'int'>
20

Rules for Variables:

1.   Do's

  *   You can start your variable with small letter as well as capital letter

  *   The name could start with _(underscore)

  *   There could be the numbers in between and underscores could be there
  *   This could be a combination of numeric and alphabet
  *   You don't need to define any datatype.

2. Dont

  *   You can't start a name with number

  *   Don't start any variable with special characters(@,#,%,&,*)
  *   No spaces in between.

In [ ]:
#Do's
#These all are the declaration types of a variable
myVar = 20
MyVar = 10
_myVar = 10
myVar10ar = 10
my_Var = 10
myvar10er36  = 10
#Don't
#1myvar = 10
#&var = 10
#my var = 10

**Topic 2:Comments**

In python the comments are used to describe a piece of code and also to eliminate the execution of those which are commented.

*   In python we use (#) hastag to comment
*   Multiline comment '''

In [ ]:
'''
This is a python program
which has been written in
multiline comment and it won't
be printed
'''
print("Hello World")

Hello World

**Topic 3:Indentations and Block of code**

In [ ]:
def sumOfNumber():
  a = 10
  b = 20
  return a+b

**Topic 4:Datatypes**

The types of data that could be stored inside the variables

IN PYTHON WE HAVE 6 DATATYPES:

1.   Numeric
2.   Text
3.   Sequence
4.   Set
5.   Map
6.   None

BRIEF ABOUT THE DATATYPES:

1.   Numerics

  *   Real Numbers:(Solid values 1,2,-1,-2)->Integer(int)
  *   Decimal numbers:(values like 1.2,-1.2,1.1,-2,9)->Float(float)
  *   Complex Numbers(Values 2+6j)->Complex(complex)
2.   Text
  *   Strings(str)

3.   Sequence:

  *   List:Changable
  *   Tuple:Unchangeable

4.   Maps:

  *  Dictionary(dic)
5. Sets:
  
  *   Duplicacy Removal->(set)

6. None

  *   Nothing represents(None)

**Topic:Numericals**

It is a countable entity/or it could be infinity

In [ ]:
#integer:the value without decimal values
#range:- infinity to +infinity(without any particular point values,only static values)
a = 12
a = 54738438480958034904903949093403405
type(a)

int

In [ ]:
#integer could also be negetive
a = -12
a = -387468970293803333320940928304920394
type(a)

int

In [ ]:
#type 2:float(the values with decimals)
#range: - infinity to +infinity(particular point values,only static values)
a = 2.3449
a = 55745732.555555577878
type(a)

float

In [ ]:
#negetive
a = -2.86646
a = -5989764.686745453
type(a)

float

In [ ]:
#topic 3:complex
a = 3 + 2j
type(a)

complex

In [ ]:
#singular
a = 3j
type(a)

complex

In [ ]:
#negetive
a = -3 + 4j
type(a)

complex

**Topic:Strings**

Def: Anything inside a quote is considered as string in python,or the alpha-numerical combination.

In [ ]:
#in python the double quotes / single quotes are equal
a = 'Nidhi'
a = "Nidhi"

In [ ]:
a = "123"
a = "^78394roj"
a = "ihreif2376478$"
type(a)

str

In [ ]:
a = "https://intellipaat.com/"
type(a)

str

**String Concatination**

In [ ]:
a  = 'Nidhi'
age = "27"
print("The name is "+ a + " age is " + age)

The name is Nidhi age is 27

In [ ]:
a = "23"
b = "67"
print(a+b)

2367

In [ ]:
a = 23
b = 67
print(a+b)

90

**Topic:Typecasting**

Def:If you want to convert a datatype into another data type then the process is typecasting.

In [ ]:
#Integer to Float
a = 12
print(type(a))
a = float(a)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
12.0

NOTE:All the integer could be a string,but not all the strings are integer

In [ ]:
#string to integer and vice versa
#First case:Int to str

a = 12
a = str(a)
type(a), a

(str, '12')

In [ ]:
#second case:str to int
a = "Nidhi123"
a = int(a)
type(a)

ValueError: invalid literal for int() with base 10: 'Nidhi123'

Error:Raised due to the alphabet

In [ ]:
a = "12"
a = int(a)
type(a)

int

#**Topic :Slicing and Indexing**

In [ ]:
# -11  -10   -9    -8    -7     -6    -5    -4    -3    -2     -1 :Natural(with - sign),negetive indexing

#  I     N     T     E     L     L     I     P     A     A     T

#  0     1     2     3     4     5     6     7     8     9     10 :Positive Index(Whole Number)

#Length: 11

Q.How you will find the last index element if you are just aware about the length of string?

A:Length - 1

In [ ]:
A = 'INTELLIPAAT'
#access the elements using indexing
#syntax:varName[index]

A[0],A[6],A[-11],A[-5]

('I', 'I', 'I', 'I')

In [ ]:
#Access the letter L's using both negetive as well positive indexing
A[4],A[5],A[-6],A[-7]

('L', 'L', 'L', 'L')

**Slicing:**
Def:Dividing.It retrives values from a given range.

In [ ]:
# -11  -10   -9    -8    -7     -6    -5    -4    -3    -2     -1 :Natural(with - sign),negetive indexing

#  I     N     T     E     L     L     I     P     A     A     T

#  0     1     2     3     4     5     6     7     8     9     10 :Positive Index(Whole Number)

#Length: 11

In [ ]:
#syntax: varName[StartPosition : EndPosition + 1]
#startIndex < EndIndex
#TELLI
a = "INTELLIPAAT"
print(a[2 : 7] , a[-9 : -4])
#PAAT
print(a[7 : ],a[-4 : ])

TELLI TELLI
PAAT PAAT

In [ ]:
#TAAP
b = a[7: ]
print(b)
#reversing
b[::-1]

b = a[-4:]
print(b)

b[::-1]

PAAT
PAAT

'TAAP'

In [ ]:
#P
a = "INTELLIPAAT"
print(a[7 : 8] , a[-4 : -3])

P P

**String Function**

In [ ]:
#converting the string  into capital letters /uppercase
a = "hello world!!"
a.upper()

'HELLO WORLD!!'

In [ ]:
#lower
a = "HELLO WORLD!!"
a.lower()

'hello world!!'

In [ ]:
#length
a = 'ghflwkjflwkkkkkkkeoiwufoejdl;qaewkd;lqkaedoieufllkjaefl;ma'
len(a)

58

In [ ]:
a[len(a)-1]

'a'

In [ ]:
#replace
a = "hello hello hello world!!!"
#jello world
#syntax:replace (string_to_be_replaced,replacement_string)
a.replace('h','j').upper()

'JELLO JELLO JELLO WORLD!!!'

#**Topic 8:LIST**

It is a series of object or item that could be of one datatype or different.
They are mutable,which means you can delete,add or update any element present in the list.
To define a list:[]

In [ ]:
list1 = [1,"Tea",1.4,'Oil','Eggs']
type(list1)

list

In [ ]:
list2 = [1 ,True, 'Nidhi', 9.0, 9+3j]
type(list2)

list

In [ ]:
#array:one datatype
list3 =[1,2,3,4,5,6,6,35]

In [ ]:
#indexing and slicing in list
list2 = [1 ,True, 'Nidhi', 9.0, 9+3j]
list2[1:4]

[True, 'Nidhi', 9.0]

**Functions in List**

In [ ]:
#adding of the elements
list2 = [1 ,True, 'Nidhi', 9.0, 9+3j]
#two ways
#1:at the end
#2:In between

In [ ]:
#Case 1:At the end
#append() ->adding at the end
#syn:listName.append(element_to_be_added)
list2.append('Nidhi')
list2.append(85)

In [ ]:
print(list2)

[1, True, 'Nidhi', 9.0, (9+3j), 'Nidhi', 85]

In [ ]:
#case2:Adding in between
#insert()-> insert values in between
#syn:listName.insert(index,value)
list2.insert(3,'Aman')
list2

[1, True, 'Nidhi', 'Aman', 9.0, (9+3j), 'Nidhi', 85]

In [ ]:
list2.insert(-3 , 'Preeti')
list2

[1, True, 'Nidhi', 'Aman', 9.0, 'Preeti', (9+3j), 'Nidhi', 85]

In [ ]:
list2.insert(-4 ,'Dev')
list2

[1, True, 'Nidhi', 'Aman', 9.0, 'Dev', 'Preeti', (9+3j), 'Nidhi', 85]

In [ ]:
#delete
#remove,pop
#remove->remove the first occurance or the first time the element occurs
#pop->it will remove the element mentioned in the index

list2.remove('Nidhi')

In [ ]:
list2

[1, True, 'Aman', 9.0, 'Dev', 'Preeti', (9+3j), 'Nidhi', 85]

In [ ]:
list2.pop()
list2

[1, True, 'Aman', 9.0, 'Dev', 'Preeti', (9+3j), 'Nidhi']

In [ ]:
list2.pop(2)
list2

[1, True, 9.0, 'Dev', 'Preeti', (9+3j), 'Nidhi']

In [ ]:
#updation
list2[2] = 8865435132
list2

[1, True, 8865435132, 'Dev', 'Preeti', (9+3j), 'Nidhi']

In [ ]:
list2.pop(2)
list2

[1, True, 'Dev', 'Preeti', (9+3j), 'Nidhi']